<div class="container mx-auto px-6 py-12 min-h-[77vh]">
	<h1 class="text-3xl font-bold mb-6">{{ 'WITHDRAWAL.TITLE' | translate }}</h1>
  
	<p class="text-lg text-gray-600 mb-4">{{ 'WITHDRAWAL.INTRODUCTION' | translate }}</p>
  
	<section class="mb-8">
	  <h2 class="text-2xl font-semibold mb-4">{{ 'WITHDRAWAL.CONDITIONS.TITLE' | translate }}</h2>
	  <p class="text-gray-600">{{ 'WITHDRAWAL.CONDITIONS.PARAGRAPH' | translate }}</p>
	</section>
  
	<section class="mb-8">
	  <h2 class="text-2xl font-semibold mb-4">{{ 'WITHDRAWAL.PROCEDURE.TITLE' | translate }}</h2>
	  <p class="text-gray-600">{{ 'WITHDRAWAL.PROCEDURE.PARAGRAPH' | translate }}</p>
	</section>
  
	<section>
	  <h2 class="text-2xl font-semibold mb-4">{{ 'WITHDRAWAL.CONTACT.TITLE' | translate }}</h2>
	  <p class="text-gray-600">{{ 'WITHDRAWAL.CONTACT.PARAGRAPH' | translate }}</p>
	</section>
  </div>
  