<section class="bg-gradient-to-b from-[#fff6aa] to-white">
	<div class="max-w-7xl mx-auto grid grid-cols-3 gap-8 items-center pt-12 px-4 ">
	  <div class="grid grid-cols-2 grid-rows-2 gap-4">
		<div
		  *ngFor="let image of leftImages"
		  class="relative overflow-hidden rounded-lg shadow-md"
		  [ngClass]="image.span"
		>
		  <img
			[src]="image.src"
			[alt]="image.alt"
			class="absolute w-full h-full object-cover"
			[style.object-position]="image.position || 'center'"
		  />
		</div>
	  </div>
  
	  <div class="text-center">
		<h4 class="uppercase font-semibold tracking-wide text-gray-600 text-sm">
		  {{ 'CONTENT.SUBTITLE' | translate }}
		</h4>
		<h1 class="text-3xl font-extrabold text-gray-800 mt-4">
		  {{ 'CONTENT.TITLE' | translate }}
		</h1>
		<p class="text-lg text-gray-600 mt-6">
		  {{ 'CONTENT.DESCRIPTION' | translate }}
		</p>
		<button
		  class="mt-6 px-8 py-3 bg-red-600 text-white font-semibold rounded-lg shadow-md hover:bg-red-500"
		>
		  {{ 'CONTENT.READ_MORE' | translate }}
		</button>
	  </div>
  
	  <div class="grid grid-cols-3 grid-rows-3 gap-4">
		<div
		  *ngFor="let image of rightImages"
		  class="relative overflow-hidden rounded-lg shadow-md"
		  [ngClass]="image.span"
		>
		  <img
			[src]="image.src"
			[alt]="image.alt"
			class="absolute w-full h-full object-cover"
			[style.object-position]="image.position || 'center'"
		  />
		</div>
	  </div>
	</div>
  </section>
  