<footer class="bg-gray-100 border-t border-gray-300 py-4 px-6">
	<div class="max-w-7xl mx-auto grid grid-cols-12 gap-8">
	  <!-- Sezione Social -->
	  <div class="col-span-3">
		<h4 class="text-lg font-semibold text-gray-800 mb-4 text-center">{{ 'FOOTER.FOLLOW_US' | translate }}</h4>
		<ul class="flex justify-center space-x-4">
		  <li>
			<a href="https://www.instagram.com" target="_blank" aria-label="Instagram" class="text-gray-600 hover:text-blue-600">
			  <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
			</a>
		  </li>
		  <li>
			<a href="https://www.facebook.com" target="_blank" aria-label="Facebook" class="text-gray-600 hover:text-blue-600">
			  <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
			</a>
		  </li>
		  <li>
			<a href="https://www.tiktok.com" target="_blank" aria-label="TikTok" class="text-gray-600 hover:text-blue-600">
			  <fa-icon [icon]="['fab', 'tiktok']"></fa-icon>
			</a>
		  </li>
		  <li>
			<a href="https://www.twitter.com" target="_blank" aria-label="Twitter" class="text-gray-600 hover:text-blue-600">
			  <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
			</a>
		  </li>
		</ul>
	  </div>
	  <!-- Sezione Informazioni -->
	  <div class="col-span-6">
		<h4 class="text-lg font-semibold text-gray-800 mb-4 text-center">{{ 'FOOTER.INFORMATION' | translate }}</h4>
		<div class="flex justify-center space-x-6">
		  <a href="/terms" class="text-gray-600 hover:text-blue-600">{{ 'FOOTER.TERMS' | translate }}</a>
		  <a href="/privacy" class="text-gray-600 hover:text-blue-600">{{ 'FOOTER.PRIVACY' | translate }}</a>
		  <a href="/cookies" class="text-gray-600 hover:text-blue-600">{{ 'FOOTER.COOKIES' | translate }}</a>
		</div>
	  </div>
	  <!-- Sezione Metodi di Pagamento -->
	  <div class="col-span-3">
		<h4 class="text-lg font-semibold text-gray-800 mb-4 text-center">{{ 'FOOTER.WE_ACCEPT' | translate }}</h4>
		<ul class="flex justify-center space-x-4 text-2xl text-gray-600">
		  <li>
			<fa-icon [icon]="['fab', 'cc-visa']"></fa-icon>
		  </li>
		  <li>
			<fa-icon [icon]="['fab', 'cc-mastercard']"></fa-icon>
		  </li>
		  <li>
			<fa-icon [icon]="['fab', 'cc-paypal']"></fa-icon>
		  </li>
		  <li>
			<fa-icon [icon]="['fab', 'cc-stripe']"></fa-icon>
		  </li>
		  <li>
			<fa-icon [icon]="['fab', 'cc-amazon-pay']"></fa-icon>
		  </li>
		</ul>
	  </div>
	</div>
	<div class="mt-2 border-t border-gray-300 pt-4 text-center">
	  <p class="text-sm text-gray-600">
		{{ 'FOOTER.COMPANY_INFO' | translate }}
	  </p>
	</div>
  </footer>
  