<div class="container mx-auto px-6 py-12 min-h-[77vh]">
	<h1 class="text-3xl font-bold mb-6">{{ 'TERMS.TITLE' | translate }}</h1>
  
	<p class="text-lg text-gray-600 mb-4">{{ 'TERMS.INTRODUCTION' | translate }}</p>
  
	<section class="mb-8">
	  <h2 class="text-2xl font-semibold mb-4">{{ 'TERMS.USE_OF_SITE.TITLE' | translate }}</h2>
	  <p class="text-gray-600">{{ 'TERMS.USE_OF_SITE.PARAGRAPH' | translate }}</p>
	</section>
  
	<section class="mb-8">
	  <h2 class="text-2xl font-semibold mb-4">{{ 'TERMS.INTELLECTUAL_PROPERTY.TITLE' | translate }}</h2>
	  <p class="text-gray-600">{{ 'TERMS.INTELLECTUAL_PROPERTY.PARAGRAPH' | translate }}</p>
	</section>
  
	<section class="mb-8">
	  <h2 class="text-2xl font-semibold mb-4">{{ 'TERMS.LIMITATION_OF_LIABILITY.TITLE' | translate }}</h2>
	  <p class="text-gray-600">{{ 'TERMS.LIMITATION_OF_LIABILITY.PARAGRAPH' | translate }}</p>
	</section>
  
	<section class="mb-8">
	  <h2 class="text-2xl font-semibold mb-4">{{ 'TERMS.MODIFICATIONS.TITLE' | translate }}</h2>
	  <p class="text-gray-600">{{ 'TERMS.MODIFICATIONS.PARAGRAPH' | translate }}</p>
	</section>
  
	<section>
	  <h2 class="text-2xl font-semibold mb-4">{{ 'TERMS.CONTACT.TITLE' | translate }}</h2>
	  <p class="text-gray-600">{{ 'TERMS.CONTACT.PARAGRAPH' | translate }}</p>
	</section>
  </div>
  